*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100vh;
}
.container h2{
    text-align: center;
    padding: 30px 0 5px;
    letter-spacing: 2px;
    color: rgb(27, 27, 27);
    border-bottom: 1px solid rgba(119, 119, 119, 0.174);
}
.container h2 span{
    color:#4d79ff;
}
.container .content{
    display: flex;
}
.content .inputs{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px;
    margin-right: 10%;
    margin-top: 50px;
    margin-left: 50px;  
    background-color:#e6f7ff;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
    height: 320px;

}
.inputs input{
    margin: 10px 0;
    border: 1.5px solid rgb(172, 172, 172);
    padding: 7px;
    border-radius: 4px;
    outline: none;
    width: 280px;
    font-weight: 500;
    color: #4d4d4d;
}
#add{
    margin: 20px 0 7px;
    width: 94%;
    background-color: #4da6ff;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    font-size: 15px;
}
#add:hover{
    background-color: #4da6ff8a;
    letter-spacing: 2px;
}
.output{
    margin-top: 50px;
    flex: 1;
    margin-right: 20px;
}
.table_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table_head label span{
    font-weight: bold;
    color: #4da6ff;
}
.table_head label{
    font-family: Arial, Helvetica, sans-serif;
}
.bar_search input{
    border-radius: 10px;
    border: none;
    background-color: rgba(235, 235, 235, 0.244);
    padding: 8px;
    outline: none;
    width: 200px;
    transition: 0.5s;
}
.bar_search input:hover{
    width: 220px;
}
.bar_search button{
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color: #4da6ff;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}
.bar_search button:hover{
    background-color: #4da6ffb7;
}
table{
    width: 100%;
    border: 1px solid;
    margin-top: 20px;
    border-collapse: collapse;
    border: none;
}
tr,th{
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    padding: 8px ;
}
tr,td{
    text-align: center;
    padding: 10px;
    border-bottom: 0.5px solid #d9d9d9;
}
tbody button{
    padding: 5px 2px;
    border: none;
    width: 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
#edit{
    background-color: #4da6ff;
}
#edit:hover{
    background-color: #4da6ffb3;
}

#delete{
    background-color:  #fd4141;
    margin: 0 0 0 19px;
}
#delete:hover{
    background-color: #fd4141c0;
}